.prix {
    font-size: 1.3em;
    line-height: 20px;
    font-weight: 700;
    color: #191919;
    padding: 5px 0;

    span {
        font-size: 0.8em;
        text-decoration: line-through;
    }
}

.rating {
    .fa,
    .far,
    .fas {
        color: #ffb503;
        font-size: 22px;
        padding: 5px 0;
    }

    .count-rating {
        font-size: 22px;
    }
}
// .rating .fa-star-o {
//     font-weight: 500;
// }
section {
    margin-top: 50px;
}
h2 {
    font-family: Poppins, sans-serif;
}
#sectionSlider {
    margin-top: 0px;
    img {
        height: 500px;
        width: 100%;
    }
}
#sectionAvantages {
    .card {
        background-color: transparent;
        border: none;

        .div-icone {
            margin: 0 auto 0px auto;
            width: 100px;
            height: 100px;
            border-radius: 50%;
        }

        img {
            width: 80%;
            height: 80%;
        }
        .title {
            font-size: 20px;
            line-height: 1.4;
            font-weight: 500;
            margin: 0 0 5px 0;
            color: #28274b;
        }
        p {
            margin: 0;
            font-size: 16px;
            line-height: 20px;
            color: #8b919f;
        }
        span {
            color: #808080;
        }
    }
}

#sectionCategories {
    .card {
        margin: 0 auto;
        width: 300px;
        height: 300px;
        margin: 15px auto;
        box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
            0px 4px 5px 0px rgba(0, 0, 0, 0.14),
            0px 1px 10px 0px rgba(0, 0, 0, 0.12);
        transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
        &:hover {
            box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2),
                0px 24px 38px 3px rgba(0, 0, 0, 0.14),
                0px 9px 46px 8px rgba(0, 0, 0, 0.12);
        }

        img {
            width: 100%;
        }
    }
    .btnCategorie {
        // width: 150px;
        min-width: 75px;
        padding: 15px;
        background: rgba(255, 255, 255, 0.9);
        border: 2px solid rgba(0, 0, 0, 0);
        border-radius: 6px;
    }
}

#sectionProduits {
    margin-top: 50px;

    .nav-item .nav-link {
        border-bottom: 0;
        font-family: Montserrat, sans-serif;
        font-size: 1.2em;
        font-weight: 400;
        line-height: 1.4em;
        position: relative;
        z-index: 1;
        margin: 0 20px 15px 20px;
        padding: 0;
        color: rgb(70, 75, 92);
        padding: 10px 20px;
        &:hover {
            color: #000000;
        }
    }
    .nav-tabs .nav-link.active {
        background-color: $primary;
        color: #000000;
    }
    .nav-tabs {
        border-bottom: none;
    }
    // .card {
    //     background-color: transparent;
    //     border: none;
    //     margin: 0 10px;

    //     a {
    //         text-decoration: none;
    //         color: #000000;
    //     }
    //     p {
    //         margin: 1px;
    //     }
    //     .categorie {
    //         font-size: 1em;
    //         color: #999999;
    //     }

    //     .produit-titre {
    //         color: #191919;
    //         font-size: 1.1em;
    //     }
    //     .prix {
    //         font-size: 1.3em;
    //         line-height: 20px;
    //         font-weight: 700;
    //         color: #191919;
    //     }
    // }

    /*************************   Product slide ***************/
    /* medium - display 2  */
    @media (min-width: 768px) {
        .carousel-inner .carousel-item-right.active,
        .carousel-inner .carousel-item-next {
            transform: translateX(50%);
        }

        .carousel-inner .carousel-item-left.active,
        .carousel-inner .carousel-item-prev {
            transform: translateX(-50%);
        }
    }

    /* large - display 3 */
    @media (min-width: 992px) {
        .carousel-inner .carousel-item-right.active,
        .carousel-inner .carousel-item-next {
            transform: translateX(33%);
        }

        .carousel-inner .carousel-item-left.active,
        .carousel-inner .carousel-item-prev {
            transform: translateX(-33%);
        }
    }

    @media (max-width: 768px) {
        .carousel-inner .carousel-item > div {
            display: none;
        }

        .carousel-inner .carousel-item > div:first-child {
            display: block;
        }
    }

    .carousel-inner .carousel-item.active,
    .carousel-inner .carousel-item-next,
    .carousel-inner .carousel-item-prev {
        display: flex;
    }
}

/**********************************  Section Offres ************************/
#sectionOffres {
    .parallax {
        /* The image used */
        background-image: url("/images/bg-parallax.jpg");

        /* Set a specific height */
        min-height: 300px;

        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
    }
    .masque {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.6);
    }

    h4 {
        color: #ffffff;
    }

    .button-cta {
        border: 1px solid $primary;
        border-radius: 25px;
        font-weight: 500;
        font-size: 1.7em;
        margin-left: 0;
        margin-right: 0;
        color: #fff;
        background-color: $primary;
    }

    .button-cta:hover {
        background-color: #fff;
        color: $primary;
        border: 1px solid $primary;
    }
}

#SectionDeals {
    img {
        max-width: 200px;
        width: 100%;
        margin: 0 auto;
    }
    .card {
        width: 100%;
        .price {
            font-weight: 800;
            font-size: 2.5em;

            span {
                font-size: 0.7em;
                text-decoration: line-through;
            }
        }
    }

    .clockdiv {
        font-family: sans-serif;
        color: #fff;
        display: inline-block;
        font-weight: 100;
        text-align: center;
        font-size: 30px;

        & > div {
            padding: 5px;
            border-radius: 3px;
            display: inline-block;

            span {
                padding: 5px 10px;
                border-radius: 3px;
                background: #000000;
                display: inline-block;
                font-weight: 800;
            }
        }

        .smalltext {
            padding-top: 5px;
            font-size: 16px;
            color: #000000;
        }
    }
}

/*****************************  PROMOTIONS  *******************************/
// #sectionPromotions {
//     .card {
//         background-color: transparent;
//         border: none;
//         margin: 0 10px;

//         .image {
//             position: relative;
//             width: 200px;
//             height: 200px;
//             margin: 0 auto;
//             image {
//                 width: 100%;
//             }
//         }
//         .solde-reduction {
//             position: absolute;
//             top: 0;
//             left: 0;

//             span {
//                 padding: 5px 10px;
//                 font-size: 1.2em;
//                 font-weight: 800;
//                 &.solde {
//                     background-color: red;
//                     color: #ffffff;
//                     line-height: 2em;
//                 }
//                 &.reduction {
//                     background-color: #ffffff;
//                     color: red;
//                 }
//             }
//         }
//         a {
//             text-decoration: none;
//             color: #000000;
//         }
//         p {
//             margin: 1px;
//         }
//         .categorie {
//             font-size: 1em;
//             color: #999999;
//         }

//         .produit-titre {
//             color: #191919;
//             font-size: 1.1em;
//         }
//         .prix {
//             font-size: 1.3em;
//             line-height: 20px;
//             font-weight: 700;
//             color: #191919;

//             span {
//                 font-size: 0.8em;
//                 text-decoration: line-through;
//             }
//         }
//     }
// }

#sectionMarques {
    margin-top: 30px;
    padding: 20px 0;
    img {
        max-width: 200px;
        width: 100%;
        margin: 0 auto;
        cursor: pointer;
        filter: grayscale(100%); /*grey the image*/

        &:hover {
            filter: grayscale(0%);
        }
    }
}

#sectionNewsletter {
    background-color: $primary;
    padding: 30px;
    img {
        max-width: 200px;
        width: 100%;
        @media (max-width: 468px) {
            min-width: 70px;
        }
    }
    .btn {
        background-color: #000000;
        color: #ffffff;
        padding: inherit 20px;
    }
    p {
        font-size: 2em;
        font-weight: 800;
        margin-bottom: 0;
        @media (max-width: 500px) {
            margin-bottom: 10px;
            line-height: 1.1em;
        }
    }
    @media (max-width: 468px) {
        padding: 30px 5px;
    }
}
