#datatable tbody td {
    word-break: break-word !important;
    vertical-align: top;
}
#datatable {
    padding: 10px;
}
#datatable .edit,
#datatable .delete {
    width: 40px;
}

#datatable img {
    height: 100px;
}
.table.dataTable {
    width: 100% !important;
}

.rating .fa,
.rating .fas,
.rating .far,
.testimonial .fa {
    color: #ff523b;
}

.rating .fas .fa-star-half:after {
    content: "\f006";
}
