.card.product {
    background-color: transparent;
    border: none;
    margin: 0 10px;

    img {
        width: 200px;
        height: 200px;
        margin: 0 auto;
    }
    a {
        text-decoration: none;
        color: #000000;
    }
    p {
        margin: 1px;
    }
    .categorie {
        font-size: 1em;
        color: #999999;
    }

    .produit-titre {
        color: #191919;
        font-size: 1.1em;
    }
    .prix {
        font-size: 1.3em;
        line-height: 20px;
        font-weight: 700;
        color: #191919;
    }
}
