.card.product {
    background-color: transparent;
    border: none;
    margin: 0 10px;

    .card-img-top{
       width: 200px;
        height: 200px;
         width: auto;
    }
    img {
        // max-height: 200px;
        // height: 100%;
        //  width: auto;
        margin: 0 auto;
    }
    a {
        text-decoration: none;
        color: #000000;
    }
    p {
        margin: 1px;
    }
    .categorie {
        font-size: 1em;
        color: #999999;
    }

    .produit-titre {
        color: #191919;
        font-size: 1.1em;
    }
    .prix {
        font-size: 1.3em;
        line-height: 20px;
        font-weight: 700;
        color: #191919;
    }
    .btn-cart {
        line-height: 15px;
        padding: 14px 20px;
        color: #ffffff;
        background-color: $primary;
        font-size: 1.2em;
    }
    /* promo*/
    .image {
        position: relative;
        width: 200px;
        height: 200px;
        margin: 0 auto;
        image {
            width: 100%;
        }
    }
    .solde-reduction {
        position: absolute;
        top: 0;
        left: 0;

        span {
            padding: 5px 10px;
            font-size: 1.2em;
            font-weight: 800;
            &.solde {
                background-color: red;
                color: #ffffff;
                line-height: 2em;
            }
            &.reduction {
                background-color: #ffffff;
                color: red;
            }
        }
    }
}
