@charset "UTF-8";

header {
  background-color: #000000 !important;
  padding-top: 10px;
  margin-bottom: 10px;
}

header .icone {
  width: 60px;
}

header p {
  color: #ffffff;
  font-size: 1.2em;
  font-weight: bold;
}

header .icone .fas {
  color: #ffffff;
  font-size: 35px;
}

header .cart {
  position: relative;
}

header .cart .badge {
  position: absolute;
  /* postulat de départ */
  top: 65%;
  left: 50%;
  /* à 50%/50% du parent référent */
  transform: translate(-50%, -50%);
  /* décalage de 50% de sa propre taille */
  background-color: #18a0fb;
  font-size: 15px;
  border-radius: 30px;
  color: #ffffff;
}

footer {
  background-color: #000000;
  padding: 10px;
}

footer .detail .logo {
  width: 200px;
  margin-bottom: 1rem;
}

footer .detail p {
  margin-bottom: 0;
}

footer p {
  color: #ffffff;
  font-size: 1.1em;
}

footer a {
  color: #ffffff;
  display: block;
  text-decoration: none;
}

footer .titre {
  text-transform: uppercase;
  font-size: 1.5em;
  font-weight: 800;
}

footer .fab {
  font-size: 2.5em;
  color: #ffffff;
  margin: 5px;
}

.rating .fa,
.rating .far {
  color: #ffb503;
}

section {
  margin-top: 50px;
}

#sectionSlider {
  margin-top: 0px;
}

#sectionSlider img {
  height: 500px;
  width: 100%;
}

#sectionAvantages .card {
  background-color: transparent;
  border: none;
}

#sectionAvantages .card .div-icone {
  margin: 0 auto 0px auto;
  width: 100px;
  height: 100px;
  background-color: #66f36d;
  border-radius: 50%;
}

#sectionAvantages .card img {
  width: 65%;
  height: 65%;
}

#sectionAvantages .card .title {
  font-size: 1em;
  font-weight: 600;
  margin-bottom: 2px;
}

#sectionAvantages .card span {
  color: #808080;
}

#sectionCategories .btnCategorie {
  min-width: 75px;
  padding: 15px;
  background: rgba(255, 255, 255, 0.9);
  border: 2px solid rgba(0, 0, 0, 0);
  border-radius: 6px;
}

#sectionProduits {
  margin-top: 100px;
  /*************************   Product slide ***************/
  /* medium - display 2  */
  /* large - display 3 */
}

#sectionProduits .nav-link {
  border-bottom: 0;
}

#sectionProduits .nav-link a {
  color: #ffffff;
  font-weight: 500;
}

#sectionProduits .nav-link a:hover {
  color: #18a0fb !important;
}

#sectionProduits .card {
  background-color: transparent;
  border: none;
  margin: 0 10px;
}

#sectionProduits .card a {
  text-decoration: none;
  color: #000000;
}

#sectionProduits .card p {
  margin: 1px;
}

#sectionProduits .card .categorie {
  font-size: 1em;
  color: #999999;
}

#sectionProduits .card .produit-titre {
  color: #191919;
  font-size: 1.1em;
}

#sectionProduits .card .prix {
  font-size: 1.3em;
  line-height: 20px;
  font-weight: 700;
  color: #191919;
}

@media (min-width: 768px) {
  #sectionProduits .carousel-inner .carousel-item-right.active,
  #sectionProduits .carousel-inner .carousel-item-next {
    transform: translateX(50%);
  }

  #sectionProduits .carousel-inner .carousel-item-left.active,
  #sectionProduits .carousel-inner .carousel-item-prev {
    transform: translateX(-50%);
  }
}

@media (min-width: 992px) {
  #sectionProduits .carousel-inner .carousel-item-right.active,
  #sectionProduits .carousel-inner .carousel-item-next {
    transform: translateX(33%);
  }

  #sectionProduits .carousel-inner .carousel-item-left.active,
  #sectionProduits .carousel-inner .carousel-item-prev {
    transform: translateX(-33%);
  }
}

@media (max-width: 768px) {
  #sectionProduits .carousel-inner .carousel-item > div {
    display: none;
  }

  #sectionProduits .carousel-inner .carousel-item > div:first-child {
    display: block;
  }
}

#sectionProduits .carousel-inner .carousel-item.active,
#sectionProduits .carousel-inner .carousel-item-next,
#sectionProduits .carousel-inner .carousel-item-prev {
  display: flex;
}

/**********************************  Section Offres ************************/

#sectionOffres .parallax {
  /* The image used */
  background-image: url("/images/bg-parallax.jpg");
  /* Set a specific height */
  min-height: 300px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

#sectionOffres .masque {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

#sectionOffres h4 {
  color: #ffffff;
}

#sectionOffres .button-cta {
  border: 1px solid #18a0fb;
  border-radius: 25px;
  font-weight: 500;
  font-size: 1.7em;
  margin-left: 0;
  margin-right: 0;
  color: #fff;
  background-color: #18a0fb;
}

#sectionOffres .button-cta:hover {
  background-color: #fff;
  color: #18a0fb;
  border: 1px solid #18a0fb;
}

#SectionDeals img {
  max-width: 200px;
  width: 100%;
  margin: 0 auto;
}

#SectionDeals .card {
  width: 100%;
}

#SectionDeals .card .price {
  font-weight: 800;
  font-size: 2.5em;
}

#SectionDeals .card .price span {
  font-size: 0.7em;
  text-decoration: line-through;
}

#SectionDeals .clockdiv {
  font-family: sans-serif;
  color: #fff;
  display: inline-block;
  font-weight: 100;
  text-align: center;
  font-size: 30px;
}

#SectionDeals .clockdiv > div {
  padding: 5px;
  border-radius: 3px;
  display: inline-block;
}

#SectionDeals .clockdiv > div span {
  padding: 5px 10px;
  border-radius: 3px;
  background: #000000;
  display: inline-block;
  font-weight: 800;
}

#SectionDeals .clockdiv .smalltext {
  padding-top: 5px;
  font-size: 16px;
  color: #000000;
}

/*****************************  PROMOTIONS  *******************************/

#sectionPromotions .card {
  background-color: transparent;
  border: none;
  margin: 0 10px;
  position: relative;
}

#sectionPromotions .card .solde-reduction {
  position: absolute;
  top: 0;
  left: 0;
}

#sectionPromotions .card .solde-reduction span {
  padding: 5px 10px;
  font-size: 1.2em;
  font-weight: 800;
}

#sectionPromotions .card .solde-reduction span.solde {
  background-color: red;
  color: #ffffff;
  line-height: 2em;
}

#sectionPromotions .card .solde-reduction span.reduction {
  background-color: #ffffff;
  color: red;
}

#sectionPromotions .card a {
  text-decoration: none;
  color: #000000;
}

#sectionPromotions .card p {
  margin: 1px;
}

#sectionPromotions .card .categorie {
  font-size: 1em;
  color: #999999;
}

#sectionPromotions .card .produit-titre {
  color: #191919;
  font-size: 1.1em;
}

#sectionPromotions .card .prix {
  font-size: 1.3em;
  line-height: 20px;
  font-weight: 700;
  color: #191919;
}

#sectionPromotions .card .prix span {
  font-size: 0.8em;
  text-decoration: line-through;
}

#sectionMarques {
  margin-top: 30px;
  padding: 20px 0;
}

#sectionMarques img {
  max-width: 200px;
  width: 100%;
  margin: 0 auto;
  cursor: pointer;
  filter: grayscale(100%);
  /*grey the image*/
}

#sectionMarques img:hover {
  filter: grayscale(0%);
}

#sectionNewsletter {
  background-color: #18a0fb;
  padding: 30px;
}

#sectionNewsletter img {
  max-width: 200px;
  width: 100%;
}

#sectionNewsletter .btn {
  background-color: #000000;
  color: #ffffff;
  padding: inherit 20px;
}

#sectionNewsletter p {
  font-size: 2em;
  font-weight: 800;
  margin-bottom: 0;
}

#sectionTitle {
  background-color: #e5e5e5;
  padding: 30px 10px;
  text-align: center;
}

#pageProductDetail section {
  background-color: #ffffff;
  padding: 20px;
}

#pageProductDetail #sectionProductDetail .image-gallery img {
  width: 100%;
}

#pageProductDetail #sectionProductDetail .image-gallery #ProductImg {
  height: 300px;
  width: auto;
  margin: 0 auto;
}

#pageProductDetail #sectionProductDetail .image-gallery .small-img {
  max-width: 80px;
  margin: 0 auto;
}

#pageProductDetail #sectionProductDetail .product-title {
  font-size: 1.8em;
  font-weight: 700;
}

#pageProductDetail #sectionProductDetail .product-price {
  margin-top: 10px;
  font-size: 1.6em;
  font-weight: 700;
}

#pageProductDetail #sectionProductDetail .ajouterPanier {
  background-color: #18a0fb;
  font-size: 1.4em;
  padding: 8px 20px;
}

#pageProductDetail table {
  max-width: 600px;
  margin: 0 auto;
}

#sectionCart .sous-titre {
  font-size: 1.5em;
  font-weight: 700;
}

#sectionCart .card {
  width: 100%;
  padding: 0px 10px;
}

#sectionCart .card img {
  width: 150px;
}

#sectionCart .code-promo {
  background-color: #ffffff;
  padding: 30px 10px;
  margin-bottom: 100px;
}

#sectionCart .code-promo p {
  font-size: 1.3em;
  margin-bottom: 20px;
  text-align: center;
  font-weight: 700;
}

#sectionCart .valider-panier {
  background-color: #ffffff;
  padding: 30px 10px;
}

#sectionCart .valider-panier tr:first-child td {
  border-top: none;
}

#sectionLogin {
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
}

#sectionLogin .formBox {
  background-color: #ffffff;
  padding: 30px;
}

#sectionLogin .formBox .btnSubmit {
  background-color: #18a0fb;
  color: #ffffff;
}

#sectionLogin .btnSubmit {
  background-color: #ffffff;
  color: #000000;
  width: 100%;
}

#sectionLogin .dashed {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #6c757d;
  line-height: 0.1em;
  margin: 40px 0 25px;
}

#sectionLogin .dashed span {
  background: #f8fafc;
  padding: 0 10px;
}

.card.product {
  background-color: transparent;
  border: none;
  margin: 0 10px;
}

.card.product img {
  width: 200px;
  height: 200px;
}

.card.product a {
  text-decoration: none;
  color: #000000;
}

.card.product p {
  margin: 1px;
}

.card.product .categorie {
  font-size: 1em;
  color: #999999;
}

.card.product .produit-titre {
  color: #191919;
  font-size: 1.1em;
}

.card.product .prix {
  font-size: 1.3em;
  line-height: 20px;
  font-weight: 700;
  color: #191919;
}

html {
  font-family: "Nunito", sans-serif;
}

