header {
    background-color: #000000;
    padding-top: 10px;
    margin-bottom: 10px;

    .icone {
        width: 60px;
    }
    p {
        color: #ffffff;
        font-size: 1.2em;
        font-weight: bold;
    }
}
